include /common/head.pug
include /common/navbar.pug
+head(site, `Chapter ${number}`)
if link
    +navbar(site, `Chapter ${number}`, [{text: 'Next Chapter', href: next_link}])
else
    +navbar(site, `Chapter ${number}`, [{href: `/chapter-${number}/paged`, text: 'View in Paged Reader'}, {text: 'Next Chapter', href: next_link}])
.cover-image
p.hidden#number=number
p.hidden#limit=limit
p.hidden#extension=extension
#app
    if link
        #external
            p
                | This chapter is unchanged. Please read at 
                a(href=link) this external host
                |  and then come back here to continue.
    #pages
    if (number == '131')
        .reddit
            h2
                a(href="https://www.reddit.com/r/OperationUsurper/comments/p3uppe/aot_usurper_chapter_130_131_discussion_thread/") Discuss the story so far on Reddit