#app {
    user-select: none;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #external {
        display: flex;
        height: 100%;
        font-size: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        a {
            color: white;
        }
    }
    #pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 60vw;
        @media (--xxl) {
            max-width: 1066px !important;
        }
        @media (--xl) {
            max-width: 50vw;
        }
        @media (--m) {
            max-width: 80vw;
        }
        @media (--s) {
            max-width: 90vw;
        }
        @media (--xs) {
            max-width: 100vw;
        }
        img.page-image {
            object-fit: contain;
            max-height: 1620px;
            width: 100%;
            padding: 10px;
            padding-top: 0px;
            background: black;
        }
    }
}
