include /common/head.pug
include /common/navbar.pug
+head(site, `About`)
+navbar(site)

link(href='https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css' rel='stylesheet' type='text/css')
script(defer="" type='text/javascript' src='https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js')

mixin social(username, type)
    .social-entry
        if type=="discord"
            img.discord(src=`/static/socials/discord.svg` alt='Discord')
            p=username
        if type=="reddit"
            a(href=`https://reddit.com/user/${username}/`)
                img.reddit(src=`/static/socials/reddit.png` alt='Reddit')
            a(href=`https://reddit.com/user/${username}/`)
                p=`/u/${username}`
        if type=="twitter"
            a(href=`https://twitter.com/${username}/`)
                img.reddit(src=`/static/socials/twitter.ico` alt='Twitter')
            a(href=`https://twitter.com/${username}/`)
                p=username
        if type=="instagram"
            a(href=`https://instagram.com/${username}/`)
                img.reddit(src=`/static/socials/instagram.ico` alt='Instagram')
            a(href=`https://instagram.com/${username}/`)
                p=`@${username}`

mixin team_card(person)
    .team-card(id=person.id)
        .image
            img(src=`${person.image}`)
        .right
            h2.name=`${person.name}`
            hr
            p.role=`${person.role}`
            q.description=`${person.description}`
            .socials
                each social in person.socials 
                    +social(social.username, social.type)

mixin gallery_card(url)
    img(src=`/static/gallery/${url}` data-ngsrc=`/static/gallery/${url}` data-nanogallery2-lightbox="")

.cover-image
.holder
    #title
        .title
            img(src="/static/logo.png" alt="Operation Usurper")
            h1.hidden Operation Usurper
            .desc-container#desc A fanfiction/parody of Attack on Titan
    #about
        h1 About Operation Usurper
        p Operation Usurper is a fanfiction rewrite group for the Rumbling arc of Attack on Titan which aims to make the ending fit the themes and patterns which were introducted previously in the story. The group was founded in response to the conclusion of the series, which left many fans unsatisfied with the canon ending. After hearing about the project, many talented artists and writers joined our team to aid in the rewrite. Though we are not professionals, we are dedicated fans of Isayama's work, and we put our full effort into every part of Operation Usurper in a genuine effort to improve the reading experience of the manga. This is a non-profit group, and our artists and writers make no money off this project. It is truly a labor of love and a passion project that our team members have poured many hours into. We have no hate for Isayama and respect him for the incredible story that he had delivered for over 10 years. Thank you for reading about Operation Usurper and we hope you enjoy our expansive rewrite!
    #team
        h1 Meet the Team
        p Meet all our fantastic talented volunteers. These passionate people take Usurper from just a bunch of discussions and ideas to finished pages on your screens. Join us! Send a DM to anyone below to get in touch - we don't bite :)

        .cards
            +team_card(team['bbon'])
            +team_card(team['skyclad'])
            +team_card(team['hedache'])
            +team_card(team['zubia'])
            +team_card(team['leaks'])
            +team_card(team['chaide'])
            +team_card(team['dash'])
            +team_card(team['demi'])
            +team_card(team['noofz'])
            +team_card(team['hunter'])
            +team_card(team['ahri'])
            +team_card(team['reius'])
            +team_card(team['gaige'])
            +team_card(team['infinite'])
            +team_card(team['ofek'])
    #gallery
        h1 Art Gallery
        p Feast your eyes on the kino. Spoiler warning! The images in the gallery include latest chapters too.
        p
            | Click to open the 
            a.primary(href="/gallery") Gallery
            |  and enjoy our curated panels.

