.holder {
    user-select: none;
    margin-top: 58px;
    color: #ddd;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300&family=Open+Sans:wght@300;400;600;800&display=swapp&family=New+Rocker');
@import url('https://fonts.cdnfonts.com/css/dime-zero');

@import url('https://fonts.cdnfonts.com/css/oasis-2');

// layout
.holder {
    display: grid;
    padding: 20px;
    @media (--xl) {
        padding-right: 100px;
    }
    @media (--m) {
        padding: 30px;
    }
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        'logo about about'
        'gallery team team'
        'gallery team team';
    #title {
        grid-area: logo;
    }

    #about {
        grid-area: about;
    }

    #team {
        grid-area: team;
    }

    #gallery {
        grid-area: gallery;
    }

    @media (--m) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 'logo' 'about' 'gallery' 'team';
    }
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 1em;
        justify-content: center;
        align-items: center;
        color: #ccc;
        max-width: 600px;
        img {
            height: auto;
            width: 100%;
            filter: drop-shadow(5px 5px 5px #222) brightness(80%);
            // flex-grow: 5;
        }
        .desc-container {
            width: 100%;
            margin: 5px;
            flex-grow: 1;
            font-family: 'New Rocker', sans-serif;
        }
    }
}

#team {
    h1 {
        font-family: 'New Rocker', sans-serif;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        @media (--xl) {
            grid-template-columns: 1fr 1fr;
        }
        @media (--m) {
            grid-template-columns: 1fr;
        }
    }
}

.team-card {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.75);
    color: #222;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;

    .image {
        img {
            width: 100%;
            height: 100%;
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
            border-bottom-right-radius: 10px;

            @media (--s) {
                max-height: 100px;
            }
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-left: 10px;
        * {
            margin: 0;
        }
        p {
            padding-bottom: 5px;
        }
    }
    .name {
        margin: 0;
        padding: 0;
        font-family: 'New Rocker', sans-serif;
    }
    .role {
        padding-top: 5px;
        color: #444;
        font-style: italic;
    }

    .description {
        color: #555;
        font-size: 0.9em;
    }

    .socials {
        padding-top: 5px;
        font-size: 0.9em;
        a,
        p {
            color: #444;
        }
        .social-entry {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        img {
            padding-right: 0.25em;
            width: 1.75em;
        }
    }
}

.cover-image {
    filter: grayscale(30%) opacity(100%) brightness(30%) !important;
}

#about {
    h1 {
        font-family: 'New Rocker', sans-serif;
    }
    p {
        font-size: 1em;
        text-align: justify;
    }
}

#gallery {
    h1 {
        font-family: 'New Rocker', sans-serif;
        margin-bottom: 0;
    }
    p {
        font-size: 1em;
        margin: 0;
    }
    color: #ccc;

    a.primary {
        margin-top: 10px;
        text-decoration: none;
        border: none;
        color: #ccc;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #b31b10;
        font-weight: 700;
    }
}
