#gallery {
    margin-top: 80px;
    h1 {
        font-family: 'New Rocker', sans-serif;
        // margin: 0;
    }
    p {
        font-size: 1em;
        margin: 0;
        font-weight: 600;
    }
    .cards {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .image-holder {
            max-width: 200px;
            margin: 10px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            background: black;
            overflow: hidden;
            img {
                max-width: 200px;
                width: auto;
                height: auto;
            }
        }
    }
    @media (--m) {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    @media (--s) {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    @media (--m) {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
