include /common/head.pug
include /common/navbar.pug
+head(site, `Gallery`)
+navbar(site)

link(href='https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css' rel='stylesheet' type='text/css')
script(defer="" type='text/javascript' src='https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js')

mixin gallery_card(url)
    .image-holder
        img(src=`/static/gallery/${url}` data-ngsrc=`/static/gallery/${url}` data-nanogallery2-lightbox="")

.cover-image
.holder
    #gallery.container
        h1 Art Gallery
        p Feast your eyes on the kino. Click to open high res versions of our select panels. Spoiler warning!
        .cards
            +gallery_card("128-044.png")
            +gallery_card("129-033.png")
            +gallery_card("132-034.png")
            +gallery_card("132-036.png")
            +gallery_card("132-037.png")
            +gallery_card("132-055.png")
