mixin chapter(chapter)
    .chapter
        // use published to redirect to the page
        if chapter.published
            img(src=`/static/chapters/${chapter.number}-compressed/001.png`)
        else
            img.disabled(src='/static/covers/default.jpg')
        if chapter.link != false
            a.card(href=`${chapter.link}`)
                h3=chapter.number
        else if chapter.published
            a.card(href=`/chapter-${chapter.number}/`)
                h3=chapter.number
        else
            .card
                h3.disabled=chapter.number
                p (coming soon)

include /common/head.pug
include /common/navbar.pug
+head(site, "Home")
.cover-image

mixin usurper()
    .title-container.container
        img(src="/static/logo.png" alt="Operation Usurper")
        h1.hidden Operation Usurper
        p.desc A fanfiction/parody of Attack on Titan    
    .container
        .read-container
            .header-row
                a.primary(href=`/chapter-124`) Start Reading
                span from the beginning or read the
                a.primary(href=`/chapter-${last_chapter.number}`) Latest Chapter
            p.desc
                | Operation Usurper is a fanfiction rewrite group for the Rumbling arc of Attack on Titan which aims to make the ending fit the themes and patterns which were introducted previously in the story. We are a completely volunteer project. Read more about us 
                a(href="/about") here
                | .Thank you for reading Operation Usurper and we hope you enjoy our expansive rewrite!
            .header-row
                h2 Latest Chapters:
                p
                    | Follow our 
                    a(href='https://twitter.com/OpUsurper') Twitter
                    |  for release announcements
            .chapters.latest
                +chapter(last_chapter)
            .header-row

                h2 All Chapters:
                p
                    | Follow our
                    a(href='https://twitter.com/OpUsurper') Twitter
                    | to know when the next chapters drop.
            .chapters
                for e in chapter_data
                    +chapter(e)

mixin ouroboros()
    .title-container.container
        img(src="/static/logo.png" alt="Project Ouroboros")
        h1.hidden Project Ouroboros
        p.desc A Fanfiction for a New Ending to Attack on Titan    
    .container
        .read-container
            .header-row
                a.primary(href=`/chapter-126`) Start Reading
                span from the beginning or read the
                a.primary(href=`/chapter-${last_chapter.number}`) Latest Chapter
            p.desc Project Ouroboros is a one-man passion project to create a new ending for Attack on Titan, using a hybrid of existing manga panels and newly drawn panels. This project replaces the final volume of 135 through 139 with a chapter count of 135 to 142, while also covering chapter 126. The story adds more consequences, lore, new developments to the final battle, with a completely divergent story post-battle. This project is founded on love, respect, and appreciation for both Attack on Titan and for Hajime Isayama himself. Disrespectful behavior towards him, various sections of the Attack on Titan fandom, or anyone at all is not condoned by the creator of this project. A big thank you to all who read this fan story!
            p.desc
                | Come join the 
                a(href='https://discord.com/invite/2U5d3RZYJ5') Project Ouroboros Discord server
                |  to hang out and participate in the discussion! 
            p.desc
                | Thank you to the team at Operation Usurper for the help with creating this website! Please be sure to 
                a(href='https://opusurper.com/') check out their story
                |  as well!
            p.desc
                | Thanks as well to Reddit user 
                a(href='https://www.reddit.com/r/titanfolk/comments/k65yaw/spoilery_art_fan_art_done_by_me/') u/livingtribunal2099
                |  for allowing their amazing artwork to be used as the background for this website!
            
            .header-row
                h2 Latest Chapters:
                p
                    | Follow my 
                    a(href='https://twitter.com/AoTOuroboros') Twitter
                    |  for release announcements
            .chapters.latest
                +chapter(last_chapter)
            .header-row

                h2 All Chapters:
                p
                    | Follow my 
                    a(href='https://twitter.com/AoTOuroboros') Twitter
                    | to know when the next chapters drop.
            .chapters
                for e in chapter_data
                    +chapter(e)


.holder
    +navbar(site)
    if site == 'usurper'
        +usurper()
    else
        +ouroboros()