@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300&family=Open+Sans:wght@300;400;600;800&display=swapp&family=New+Rocker');
@import url('https://fonts.cdnfonts.com/css/dime-zero');

@import url('https://fonts.cdnfonts.com/css/oasis-2');

.title-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: calc(min(100px, 5vw));
    padding-bottom: calc(min(100px, 5vw));
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
        height: 50vh;
        @media (--m) {
            height: 30vh;
        }
        @media (--xs) {
            height: 20vh;
        }
        filter: drop-shadow(5px 5px 5px #222) brightness(80%);
    }
    .desc {
        font-size: 30px;
        @media (--m) {
            font-size: 20px;
        }
        @media (--xs) {
            font-size: 15px;
        }
        margin: 5px;
        font-family: 'New Rocker', sans-serif;
    }
}

a {
    color: #bbb;
}
.read-container {
    padding: 15px;
    background: rgba(20, 20, 20, 0.7);
    border-radius: 5px;
    color: #ccc;
    .header-row {
        * {
            margin: 5px;
        }
        margin-bottom: 10px;
        margin-top: 10px;
        a.primary {
            text-decoration: none;
            border: none;
            color: #ccc;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            background-color: #b31b10;
            font-weight: 700;
        }
        h2 {
            font-weight: 700;
            font-size: 20px;
            @media (--m) {
                font-size: 15px;
            }
            @media (--xs) {
                font-size: 12px;
            }
        }
        display: flex;
        font-size: 20px;
        @media (--m) {
            font-size: 15px;
        }
        @media (--xs) {
            font-size: 12px;
        }
        @media (--m) {
            flex-direction: column;
            align-items: flex-start;
        }
        align-items: center;
        a,
        p {
            color: #aaa;
        }
    }
    .chapters {
        display: grid;
        // max-width: 800px;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: auto;

        &.latest {
            grid-template-columns: repeat(3, 33%);
            @media (--xl) {
                grid-template-columns: repeat(4, 25%);
            }
            @media (--s) {
                grid-template-columns: repeat(2, 50%);
            }
            @media (--xs) {
                grid-template-columns: repeat(1, 100%);
            }
        }

        @media (--l) {
            grid-template-columns: repeat(6, 16.67%);
        }
        @media (--m) {
            grid-template-columns: repeat(4, 25%);
        }
        @media (--s) {
            grid-template-columns: repeat(3, 33%);
        }
        @media (--xs) {
            grid-template-columns: repeat(2, 50%);
        }

        .chapter {
            margin: 5px;
            position: relative;
            img {
                width: 100%;
                filter: drop-shadow(8px 8px 10px black) brightness(50%);
            }
            .card {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                padding: 0;
                h3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 40px;
                    margin: 0;
                    color: white;
                }
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 10px;
                    margin: 0;
                    color: #aaa;
                    margin-top: 30px;
                    width: 100%;
                    text-align: center;
                }
            }
            h3.disabled {
                color: #777;
            }
            img.disabled {
                filter: grayscale(100%) brightness(50%);
            }
        }
    }
}
