mixin head(site, title)
    head
        if (site == 'usurper')
            //- google
            meta(name='keywords', content='Attack on Titan, Operation Usurper, Shingeki No Kyojin')
            meta(name='description', content='Operation Usurper is a fan rewrite of the last arc of Attack on Titan. We are a volunteer project and publish semi regularly on our website.')
            meta(name='thumbnail' content='/static/share-image.jpg')
            meta(name='', content='')
            //- twitter
            meta(name='twitter:card' content='Operation Usurper: A fan rewrite of the last arc of Attack on Titan')
            meta(name='twitter:site' content='@OpUsurper')
            meta(name='twitter:creator' content='@OpUsurper')
            //- opengraph
            meta(property='og:title' content=`${title} - Operation Usurper`)
            meta(property='og:type', content='website')
            meta(property='og:description' content='Operation Usurper is a fan rewrite of the last arc of Attack on Titan. We are a volunteer project and publish semi regularly on our website.')
            meta(property='og:image' content='/static/share-image.jpg')
            //- for generic parsers and browser
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title=`${title} - Operation Usurper`
            link(rel='icon' href='/static/favicon.ico' sizes='64x64')
        else
            //- google
            meta(name='keywords', content='Attack on Titan, Project Ouroboros, Shingeki No Kyojin')
            meta(name='description', content='Project Ouroboros is a Fanfiction for a New Ending to Attack on Titan')
            meta(name='thumbnail' content='/static/share-image.jpg')
            meta(name='', content='')
            //- twitter
            meta(name='twitter:card' content='Project Ouroboros: a Fanfiction for a New Ending to Attack on Titan')
            meta(name='twitter:site' content='@AoTOuroboros')
            meta(name='twitter:creator' content='@AoTOuroboros')
            //- opengraph
            meta(property='og:title' content=`${title} - Project Ouroboros`)
            meta(property='og:type', content='website')
            meta(property='og:description' content='Project Ouroboros is a Fanfiction for a New Ending to Attack on Titan')
            meta(property='og:image' content='/static/share-image.jpg')
            //- for generic parsers and browser
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title=`${title} - Project Ouroboros`
            link(rel='icon' href='/static/favicon.ico' sizes='64x64')
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-NDC1MDG5TV')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-NDC1MDG5TV');
