$base-font-color: #222;

* {
    box-sizing: border-box;
}

@custom-media --xs (max-width: 500px);
@custom-media --s (max-width: 800px);
@custom-media --m (max-width: 1100px);
@custom-media --l-alt(max-width: 1400px);
@custom-media --l (min-width: 1400px);
@custom-media --xl (min-width: 1800px);
@custom-media --xxl (min-width: 2100px);

.hidden {
    display: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: $base-font-color;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #222;
    .cover-image {
        background: url('/static/background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(20%) opacity(100%) brightness(60%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: -1;
    }
}

.container {
    padding-left: 15vw;
    padding-right: 15vw;
    width: 100%;
}

.holder {
    width: 100vw;
}

.menu-container {
    background: rgba(20, 20, 20, 1) !important;
    color: #ddd;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    font-size: 20px;
    z-index: 2;
    @media (--m) {
        font-size: 12px;
    }
    @media (--xs) {
        font-size: 11px;
    }
    align-items: center;
    * {
        margin: 5px;
        padding: 0;
        color: #ccc;
    }
    .site-name {
        font-weight: 600;
        font-family: 'New Rocker', sans-serif;
    }

    .page-title {
        font-weight: 600;
        &::before {
            content: '(';
        }
        &::after {
            content: ')';
        }
    }

    & > a {
        color: #888;
        text-decoration: none;
    }
}

a.no-style {
    text-decoration: none;
}

.reddit a {
    color: white;
}
