mixin navbar(site, title, links)
    .menu-container.container
            p.site-name
                if (site == 'usurper')
                    a(href="/").no-style Operation Usurper
                else
                    a(href="/").no-style Project Ouroboros
            if title
                p.page-title=title
            span &nbsp;
            if site == 'usurper'
                a(href='/about') About
                span -
                a(href='/gallery') Gallery
                span -
                a(href='https://www.reddit.com/r/titanfolk/comments/pxd9lz/aot_usurper_chapter_132_discussion_thread/?') Reddit Thread
            if links
                for link in links
                    if link.href
                        span -
                        a(href=link.href)=`${link.text}`
