#app {
    user-select: none;
    margin-top: 58px;

    aside > div > div > button:first-child {
        display: none;
    }

    .fullscreen > div {
        background: none;
    }
}

#progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: #ddd;
    height: 100vh;
    width: 100vw;
    position: fixed;

    .progress {
        max-width: 500px;
        width: 100%;
        margin-top: 200px;

        &-text {
            opacity: 0;
            transition: opacity 0.3s;

            &.is-active {
                opacity: 1;
            }
        }

        &-bar {
            background-color: #fff;
            border-radius: 10px;
            height: 20px;
            position: relative;
            overflow: hidden;
            margin: 20px;
        }

        [data-progress] {
            background-color: seagreen;
            border-radius: 10px;
            height: 100%;
            width: 0;
            line-height: 30px;
            position: absolute;
        }
    }

    .buttons {
        padding: 20px;

        > .btn {
            background-color: seagreen;
            border-radius: 20px;
            border: 0;
            color: #fff;
            padding: 10px 30px;
            cursor: pointer;
            text-transform: uppercase;

            &:hover,
            &:focus {
                opacity: 0.9;
            }

            &:focus {
                outline: none;
            }

            &[disabled] {
                opacity: 0.5;
            }
        }
    }
}
