include /common/head.pug
include /common/navbar.pug
+head(site, `Chapter ${number}`)
if link
    +navbar(site, `Chapter ${number}`, [{text: 'Next Chapter', href: `${next_link}paged/`}])
else
    +navbar(site, `Chapter ${number}`, [{href: `/chapter-${number}/`, text: 'View in Scrolling Reader'}, {text: 'Next Chapter', href: `${next_link}paged/`}])
.cover-image
p.hidden#number=number
p.hidden#limit=limit
p.hidden#extension=extension
#app
